<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1_bg_ironfloor_mid_.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{250,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,30}}</string>
			<key>sourceSize</key>
			<string>{250,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>levelone_pack_complete2.png</string>
		<key>size</key>
		<string>{250,30}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5369f8c8540e97b27a3688867b5bf2f3:c598d69ef1379b3bf0a57a6a5203b0b9:efc94a1711c22af3660f6e77e14f1c4f$</string>
		<key>textureFileName</key>
		<string>levelone_pack_complete2.png</string>
	</dict>
</dict>
</plist>
